@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root  {
    /* --background: #0A0F0D; /* Onyx */
    --background: #0A0F2D; /* Prussian Blue */
    --text: #FBFFFE; /* White */
    --primary: #654597; /* Dusty Grape */
    --secondary: #E6AF2E; /* Sunflower Gold */
    --accent: #EE4266; /* Watermelon */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;
    font-family: 'Jet Brains Mono', system-ui, sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text);
}

h1 {
  font-size: clamp(2.2rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(2rem, 4.5vw, 3.5rem);
}

h3 {
  font-size: clamp(1.8rem, 4vw, 3rem);
}

h4 {
  font-size: clamp(1.6rem, 3.5vw, 2.5rem);
}

h5 {
  font-size: clamp(1.4rem, 3vw, 2rem);
}

h6 {
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}

p, a {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

a {
    color: var(--text)
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    margin-inline: 4rem;
}

@media (max-width: 600px) {
    .card-grid {
      margin-inline: auto;
    }
}