.live-clock {
    padding: 1rem;
    background-color: var(--primary);

    width: max-content;
    margin-inline: auto;
    text-align: center;
    padding: 2rem 5rem;
    border-radius: 0.5rem;
}

.live-clock:hover {
    color: var(--secondary);
    border: 2px solid var(--secondary);
}