nav {
    background-color: var(--background);
    border-bottom: 2px solid var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

nav a {
    color: var(--text);
    text-decoration: none;
    position: relative;
    padding: 1rem;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--secondary);
    border-radius: 1rem;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;

    box-shadow: 0 0 1rem var(--secondary);
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}